body {
  background-color: #173824;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #173824;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

.navbar {
  background-color: #173824;
  height: 50px;
  padding: 0 20px;
}

.title-black {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.main-content {
  background-color: white;
  padding: 20px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.options a {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: none;
}


.read-more-button {
  background-color: #38B45C;
  text-decoration: none;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 8px 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title-white {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight:600;
  margin: 10px;
}

.search-container {
  border-radius: 20px;
  margin: 20px 10px 10px 10px;
  padding: 10px;
}

/* MORE ARTICLES DIV */
.more-articles h2{
  margin-top: 60px;
  margin-bottom: 25px;
}

/* CARD FOR LARGE ARTICLES */
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin-right: 15px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}




/* CARD FOR SMALL ARTICLES */
.card-product {
  overflow: hidden;
  height: 120px;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2);/ */
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  margin-left: 5px;
}

.card-product h2 {
  font-size: 20px;
  color: white;
  font-weight: 350;
  margin: 0;
}

.card-product p {
  color: white;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}